@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*nav*/
@media (max-width: 768px) {
  .burger-icon {
    display: flex;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 20px;
    transform: translateX(-100%);
  }

  .cart-text {
    display: none;
  }

  .profile {
    display: none;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .header-logo {
    order: 1;
    height: 40px;
    margin-right: -50px;
  }

  .header-btns {
    order: 2;
    gap: 10px;
  }

  .toggle-theme,
  .cart-icon {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 25px;
    width: 10px;
    height: 10px;
    background-color: #111111f1;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
}

/*end nav*/

/*Products*/
/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid #111;
    width: 70px;
    height: 70px;
    animation: loader 1s ease-in-out infinite forwards;
    border-radius: 50%;
    border-top-color: transparent;
  }

  .pro-container {
    flex-direction: column;
    width: 100%;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }

  .toggle-filters {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }

  .search-bar {
    width: 100%;
  }

  .product-card {
    width: calc(100% - 20px);
  }

  .approach-text {
    width: 80%;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }

  .main-content {
    width: 70%;
  }

  .search-bar {
    width: 100%;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .sidebar {
    width: 20%;
  }

  .main-content {
    width: 80%;
  }

  .product-card {
    width: calc((100% / 3) - 30px);
  }
}

/*End Products*/
@media (max-width: 1070px) {
  .orderSummary {
    position: sticky;
    transform: translateY(0);
    margin: 2rem auto;
  }

  .shoppingCartSection {
    margin: auto;
  }
}

@media (max-width: 970px) {
  .shoppingCartItems {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .shoppingCartItem1::after {
    content: "";
    height: 0px;
  }

  .shoppingCartSection {
    margin: auto;
  }
}

@media (max-width: 640px) {
  .shoppingCartTitles {
    width: 100%;
  }

  .shoppingCartSection {
    margin: auto;
  }
}

/* Home */
@media (width < 1330px) {
  .bottom-landing {
    flex-direction: column;
    gap: 30px;
  }

  .image-slider-container,
  .landing-text-container {
    width: 100%;
  }

  .landing-buttons {
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
  }
}

@media (width < 1330px) {
  .bottom-landing {
    flex-direction: column;
    gap: 30px;
  }

  .image-slider-container,
  .landing-text-container {
    width: 100%;
  }

  .landing-buttons {
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
  }
}

@media (width < 550px) {
  .bottom-landing .main-btn {
    width: 100%;
  }

  .section-header h1 {
    font-size: 1.5em;
  }

  .home-search-bar {
    width: 100%;
  }

  #home-collection .product-card {
    width: 80%;
    margin: auto;
  }
}

@media (width < 991px) {
  .landing-image-container {
    width: 100%;
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .landing-image-container img {
    width: 25%;
    min-width: 300px;
  }

  .landing-buttons {
    display: none;
  }

  .new-week .landing-image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .new-week .landing-image-container .product-card {
    min-width: 250px;
  }
}

@media (width < 1330px) {
  .bottom-landing {
    flex-direction: column;
    gap: 30px;
  }

  .image-slider-container,
  .landing-text-container {
    width: 100%;
  }

  .landing-buttons {
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
  }
}