@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Products*/
/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid #111;
    width: 70px;
    height: 70px;
    animation: loader 1s ease-in-out infinite forwards;
    border-radius: 50%;
    border-top-color: transparent;
}

  .pro-container {
    flex-direction: column;
    width: 100%;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }

  .toggle-filters {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }

  .search-bar {
    width: 100%;
  }

  .product-card {
    width: calc(100% - 20px);
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }

  .main-content {
    width: 70%;
  }

  .search-bar{
    width: 100%;
}

}

/* Desktop styles */
@media (min-width: 1024px) {
  .sidebar {
    width: 20%;
  }

  .main-content {
    width: 80%;
  }

  .product-card {
    width: calc((100% / 3) - 30px);
  }
}

/*End Products*/
@media (max-width: 1070px) {
  .orderSummary {
      position: sticky;
      transform: translateY(0);
      margin: 2rem auto;
  }
  .shoppingCartSection {
      margin: auto;
  }
}
@media (max-width: 970px) {
  .shoppingCartItems {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
  }
  .shoppingCartItem1::after {
      content: "";
      height: 0px;
  }
  .shoppingCartSection {
      margin: auto;
  }
}
@media (max-width: 640px) {
  .shoppingCartTitles {
      width: 100%;
  }
  .shoppingCartSection {
      margin: auto;
  }
}